body{
	background-color:#696969;
	height:760px;
}

#banner{
	width:600px;
	height:200px;
	position:absolute;
	top:10px;
	left:280px;
}

div{
	width:1000px;
	margin: 0 auto;
}

#twee{
	border: solid #b22222: 2px;
	height:50px;
	background-color:#b22222;
	position:absolute;
	top:0px;
}

#tekst{
	position:absolute;
	top:0px;
	font-size:17px;
	color:white;
	left:20px;
}

#een{
	border:solid white: 2px;
	height:300px;
	background-color: white;
	position:absolute;
	top:200px;
	left:250px;
	width:1000px;
	margin: 0 auto;
	height:550px;
}

#titel{
	position:absolute;
	top:40px;
	left:20px;

}

.tekstvak{
	position:absolute;
	top:0px;
	left:500px;
}

#vraag1{
	position:absolute;
	top:120px;
	left:30px;
	font-size:22px;
}

#vraag2{
	position:absolute;
	top:170px;
	left:30px;
	font-size:22px;
}

#vraag3{
	position:absolute;
	top:220px;
	left:30px;
	font-size:22px;
}

#vraag4{
	position:absolute;
	top:270px;
	left:30px;
	font-size:22px;
}

#vraag5{
	position:absolute;
	top:320px;
	left:30px;
	font-size:22px;
}

#vraag6{
	position:absolute;
	top:370px;
	left:30px;
	font-size:22px;
}

#vraag7{
	position:absolute;
	top:420px;
	left:30px;
	font-size:22px;
}

#klaar{
	position:absolute;
	top:470px;
	left:530px;
}


#drie{
	border:solid grey: 2px;
	height:50px;
	width:1000px;
	position:absolute;
	top:510px;
	left:0px;
	background-color:grey;
}

#footertekst{
	position:absolute;
	left:350px;
	color:white;
}

.verhaal{
	margin-top:120px;
	font-size:24px;
	color:black;
}

#twee2{
	border:solid white: 2px;
	height:300px;
	background-color: white;
	position:absolute;
	top:200px;
	left:250px;
	width:1000px;
	margin: 0 auto;
	height:250px;
}

#drie2{
	border:solid grey: 2px;
	height:50px;
	width:1000px;
	position:absolute;
	top:250px;
	left:0px;
	background-color:grey;
}

#body2{
	background-color:#696969;
	height:560px;
}

#twee3{
	border:solid white: 2px;
	height:300px;
	background-color: white;
	position:absolute;
	top:200px;
	left:250px;
	width:1000px;
	margin: 0 auto;
	height:630px;
}

.verhaal2{
	margin-top:120px;
	font-size:24px;
	color:black;
	margin-left:15px;
}

#link1{
	position:absolute;
	top:10px;
	font-size:24px;
	left:280px;
	color:white;
}

#link2{
	position:absolute;
	top:10px;
	font-size:24px;
	left:40px;
	color:white;
}